/* Estilo geral */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
 font-family: "Roboto Mono", monospace; 
}

body {
  
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Container principal da página */
.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilo da navegação */
.home-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.nav-link {
  margin: 0 15px;
  text-decoration: none;
  color: #007bff;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #0056b3;
}

/* Estilo do cabeçalho */
.home-header {
  display: inline-block;
  text-align: left;
  padding: 50px 20px;
  align-items: left;
  max-width: 600px;
}

.home-header h1 {
  font-size: 60px;
  margin-bottom: 20px;

}

.p1 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 30px;
  width: 497px;
  height: 96px;
  font-weight: 400;

  
}

.home-button {
  background-color: #222c36;
  color: white;
  padding: 20px 56px 24px 56px;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  cursor: pointer;
  width: 297px;
  height: 66px;
  gap: 10px;
  align-items: center;
}

.home-button:hover {
  background-color: #141a20;
}

.home-image {
  width: 627px;
  height: 410px;
  margin-top: 12px;
  margin-left: 12px;
  border-radius: 2px;
  position: absolute;
  top: 80px;
  right:380px;
}

/* Estilo dos serviços */
.home-services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.home-service-card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 22%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 130px;
  .img {
    position: absolute;
    top: 730px;
    left: 580px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }
  .img2 {
    position: absolute;
    top: 730px;
    left: 880px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }
  .img3 {
    position: absolute;
    top: 730px;
    left: 1180px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }
  .img4 {
    position: absolute;
    top: 730px;
    left: 1460px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }
}

.home-service-card h2 {
  font-size: 2rem;
  color: #ffffff;
}

.home-service-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

.home-service-card p {
  font-size: 1rem;
  color: #666;
}

#hs1 {
  background-color: #F1C2B0;
}
#hs2 {
  background-color: #F9EB98;
}
#hs3 {
  background-color: #C0D9DD;
}
#hs4 {
  background-color: #6975E8;
}